<div class='twitter-feed'>
<ul>
<% @product.tweets.each do %>
    <li class='tweet clearfix clear container'>
      <div class='avatar col-xs-3'>
        <img src="https://pbs.twimg.com/profile_images/732739000/new_logo_medium_normal.gif">
      </div>
      <div class='tweet-content col-xs-9'>
        <div class='tweet-header'>
          <span class='name'><%= tweet.user.name %></span> <span class='nickname'>@<%= tweet.user.screen_name %></span> <!-- 26m -->
        </div>
          <p>
            <%= format_tweet(tweet) %>
          </p>
          <div class='tweet-images text-center'>

          </div>
        <div class='tweet-footer text-right'>
          <i class='glyphicon glyphicon-retweet'></i> 123  <i class='glyphicon glyphicon-star'></i> 5  
        </div>
      </div>
    </li>
<% end %>
</ul>
</div>